@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #020817;
    --card: #ffffff;
    --card-foreground: #020817;
    --popover: #ffffff;
    --popover-foreground: #020817;
    --primary: #2563eb;
    --primary-foreground: #f8fafc;
    --secondary: #f1f5f9;
    --secondary-foreground: #020817;
    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    --accent: #f1f5f9;
    --accent-foreground: #020817;
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #2563eb;
    --radius: 0.75rem;
    --sidebar-background: #fafafa;
    --sidebar-foreground: #404040;
    --sidebar-primary: #1a1a1a;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f5f5f5;
    --sidebar-accent-foreground: #1a1a1a;
    --sidebar-border: #e5e7eb;
    --sidebar-ring: #3b82f6;
  }

  .dark {
    --background: #020817;
    --foreground: #f8fafc;
    --card: #020817;
    --card-foreground: #f8fafc;
    --popover: #020817;
    --popover-foreground: #f8fafc;
    --primary: #3b82f6;
    --primary-foreground: #020817;
    --secondary: #1e293b;
    --secondary-foreground: #f8fafc;
    --muted: #1e293b;
    --muted-foreground: #94a3b8;
    --accent: #1e293b;
    --accent-foreground: #f8fafc;
    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;
    --border: #1e293b;
    --input: #1e293b;
    --ring: #e0f2fe;
    --sidebar-background: #1a1a1a;
    --sidebar-foreground: #f5f5f5;
    --sidebar-primary: #60a5fa;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #262626;
    --sidebar-accent-foreground: #f5f5f5;
    --sidebar-border: #262626;
    --sidebar-ring: #3b82f6;
  }
}

/* @layer base {
  body {
    @apply bg-background text-foreground;
  }
} */
